<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2px" align="center">
        <tr>
            <th>Department</th>
            <th>DeptName</th>
            <th>Location</th>
        </tr>

    {% for do in display_dept %}
        <tr>
             <td> {{ do.deptno }}   </td>

            <td> {{ do.dname }}   </td>

            <td> {{do.Location}}</td>
        
        </tr>
    {% endfor %}

 
    </table>
    
</body>
</html>